
<div class="v-flex main-container" *ngIf="roomInfo">
  <ng-container *ngIf="!showSettings">
    <div class="h-flex" style="gap: 40px; overflow: auto;">

      <!-- Right Panel (room actions + player list) -->
      <div class="room-section v-flex" style="flex-grow: 1; flex-basis: 0; max-width: 1000px;">
        <div style="flex-grow: 1;">

          <!-- Room actions -->
          <div class="gui-button-row">
            <ng-container *ngIf="!showSettings">
              <button class="gui-button gui-button-main" [disabled]="isRunning() || !isHost() || !isPlayersReady()" (click)="onStartGameClick()">Start game</button>
              <button *ngIf="lastGameReplay" class="gui-button" (click)="onDownloadLastReplayClick()">Replay</button>

              <!-- host buttons -->
              <button class="gui-button" [disabled]="isRunning()" (click)="onResetScoresClick()">Reset scores</button>
              <button class="gui-button" [disabled]="isRunning()" (click)="onSettingsClick()">Rule settings</button>
              
              <!-- debug buttons -->
              <ng-container *ngIf="debug">
                <button *ngIf="lastGameReplay" class="gui-button" (click)="onVerifyLastReplayClick()">Verify replay</button>
                <button class="gui-button" (click)="onDownloadGameStateClick()">Download debug state</button>
              </ng-container>

              <div style="flex-grow: 1;"></div>

              <button class="gui-button" (click)="onToggleSpectatorModeClick()">{{isSpectator() ? 'Watch' : 'Play'}}</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
