
.slots-container {
  font-size: 24px;

  &.spectator {
    opacity: 0.5;
  }

  .tc-text {
    text-align: left;
  }

  .tc-text-pad {
    text-align: left;
    padding-left: 25px;
  }

  .tc-number {
    text-align: right;
  }

  // .slot {
  //   display: flex;
  //   flex-direction: row;
  // }
}

.screen-body-container {
  flex-grow: 1;
  overflow: hidden;
  padding-bottom: 30px;
}

.slot-player-name.local-player {
  font-weight: bold;
}
