
.main-container {
  padding: 40px;
  padding-right: 80px;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  background: #fff2;

  opacity: 1;

  transition: 250ms;
  
  &.transparent {
    transition: 250ms;
    opacity: 0;
  }
}

.screen-body-container {
  flex-grow: 1;
  overflow: hidden;
  padding-bottom: 30px;
}

.slot-player-name.local-player {
  font-weight: bold;
}
