
@import 'palette';
@import 'font';

.control-row {
  transition: 100ms;
  font-size: $font-size-default;
  display: flex;
  cursor: pointer;
  padding: 0px 40px;
  margin: 5px 0;
  
  &:hover {
    transition: 0;
    background: #fff3;
  }
  
  .control-name {
    width: 500px;
  }

  .mapping-list {
    display: flex;
    gap: 10px;
  }

  .mapping-item {
    width: 200px;
    background: #fff3;
    border-radius: 3px;
    padding: 6px 0;
    padding-left: 15px;
    display: flex;

    &.edit-mode {
      background: #6c6;
    }
  }

  .value-input {
    font-size: $font-size-default;
    border: none;
    background: #fff3;
    color: white;
    padding-left: 16px;
    width: 100px;
  }
}

