
@import 'font';

.info-main {
  font-size: $font-size-big;
  padding: 20px 0;
}

.info-additional {
  font-size: $font-size-small;
  color: #fff7;
}

.info-link {
  color: #fff;
  font-weight: bold;
}
