
<ng-container *ngIf="updateRequired === undefined">
  <div class="info-main">Connecting to the main server...</div>
  <div class="info-additional">This may take a few minutes if the server was empty (sleep).</div>
</ng-container>

<ng-container *ngIf="updateRequired === true">
  <div class="info-main">Update required</div>
  <div class="info-instruction">For desktop version: please <a class="info-link" href="{{clientDownloadUrl}}">click here to download the latest version</a>.</div>
  <div class="info-instruction">For browser version: please refresh with Ctrl+F5 once.</div>
  <div style="height: 20px;"></div>
  <div class="info-additional">Currently using client version {{clientVersion}}, which is incompatible with the server version {{serverVersion}}.</div>
</ng-container>

<!-- <ng-container *ngIf="mainServerConnected">
  <div class="full-size login-background" style="background: #0008;">
    <div class="full-center">
      <div>
        <img (click)="onBannerClick()" class="banner-btn" src="assets/img/default/banner.ico"/>
      </div>
    </div>
  </div>
</ng-container> -->
