
<div class="full-size">
  <app-background></app-background>

  <div class="screen-title-container">
    <div class="screen-title-underline">
      <div class="screen-title-row">
        <app-menu-button (click)="onBackClick()">arrow_back_ios</app-menu-button>
        <div>Multiplayer Lobby</div>
      </div>
    </div>
  </div>

  <div class="screen-body-container">
    <ng-container *ngIf="!rooms">
      Connecting to the server... The server may be in sleep mode and need a couple minutes to wake up.
    </ng-container>

    <ng-container *ngIf="rooms">
      <div class="gui-button-row">
        <button (click)="onCreateRoom()" class="gui-button gui-button-main"><mat-icon>add</mat-icon><span style="width: 7px"></span>New room</button>
        <button (click)="onRefresh()" class="gui-button"><mat-icon>refresh</mat-icon><span style="width: 7px"></span>Refresh</button>
      </div>
      
      <div style="height: 30px;"></div>
  
      <div class="room-container">
        <button *ngFor="let room of rooms" class="room" (click)="onRoomClick(room)">
          <div class="room-player-count"><mat-icon>person</mat-icon>{{room.slots.length}}</div>
          <div class="room-name">{{room.name}}</div>
        </button>
      </div>
    </ng-container>
  </div>
  
</div>
