
.room-container {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.room {
  cursor: pointer;
  display: flex;
  background: #fff6;
  padding: 20px 50px;
  font-size: 24px;

  .room-name {
    width: 400px;
  }

  .room-player-count {
    display: flex;
    align-items: center;
    width: 80px;
  }
}
