
@import 'font';

.room-container {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.room {
  cursor: pointer;
  display: flex;
  background: #fff2;
  backdrop-filter: blur(8px);
  padding: 20px 50px;
  font-size: $font-size-default;

  .room-name {
    width: 400px;
  }

  .room-player-count {
    display: flex;
    align-items: center;
    width: 80px;
  }
}
