
<div class="full-size">
  <app-background></app-background>

  <div class="screen-title-container">
    <div class="screen-title">
      <app-menu-button (click)="onBackClick()">arrow_back_ios</app-menu-button>
      Multiplayer Lobby
    </div>
  </div>

  <ng-container *ngIf="rooms">
    <div *ngFor="let room of rooms" class="room" (click)="onRoomClick(room)">
      <div>Room: {{room.name}}</div>
      <div>
        <div *ngFor="let slot of room.slots">
          {{slot.player.username}}
        </div>
      </div>
    </div>
  </ng-container>
  
  <button (click)="onCreateRoom()">Create Room</button>
  <button (click)="onRefresh()">Refresh</button>
</div>
