
<div class="full-size">  
  <app-background></app-background>

  <div style="background: #0f03;">
    <div>
      Lobby Component
    </div>

    <button (click)="onBackClick()">Back</button>

    <ng-container *ngIf="rooms">
      <div *ngFor="let room of rooms" class="room" (click)="onRoomClick(room)">
        <div>Room: {{room.name}}</div>
        <div>
          <div *ngFor="let slot of room.slots">
            {{slot.player.username}}
          </div>
        </div>
      </div>
    </ng-container>
    
    <button (click)="onCreateRoom()">Create Room</button>
    <button (click)="onRefresh()">Refresh</button>
  </div>
</div>
