
:host {
  height: 100%;
}

.menu-button {
  transition: 500ms;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 90%;

  &:hover {
    transition: 50ms;
    background: #fff6;
    transform: scale(1.15);
  }
}

