
:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.field-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 0;
  min-height: 40px;
  
  &:hover {
    background: #fff2;
  }
}

.field-caption {
  width: 400px;
}

.field-value {
  flex-grow: 1;
}
