
:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.field-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 0;
  min-height: 40px;
  
  &:hover {
    background: #fff1;
  }
}

.field-caption {
  width: 400px;
}

.field-value {
  flex-grow: 1;
}



.preset-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.preset {
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 10px;
  &:hover { background: #fff2; }
}

.preset-icon-area {
  display: flex;
  align-items: center;
}

.preset-icon {
  font-size: 48px;
  height: 48px ;
  width: 48px;
}

.preset-content-area {
  flex-grow: 1;
}

.preset-name {
  font-size: 36px;
}

.preset-description {
  color: #fff8;
}
