
.form-container {
  display: flex;
  flex-direction: column;
}

.field-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 0;
  
  &:hover {
    background: #fff2;
  }
}

.field-caption {
  width: 200px;
}

.field-value {
  flex-grow: 1;
}
