
<app-background></app-background>

<div class="full-size login-background" style="background: #0008;">
  <div class="full-center">
    <ng-container *ngIf="phase == LoginPhase.SUBMIT_USERNAME">
      <div style="text-align: center; font-size: 24px;">
        Pick a name
  
        <span style="
            display: inline-block;
            transform: scale(1.5) translate(0, 4px);
            margin: 4px;
        ">
          <app-icon-button [iconName]="'magic'" (click)="setRandomName()"></app-icon-button>
        </span>
      </div>
  
      <div class="spacer"></div>
  
      <div style="display: flex; align-items: center; justify-content: center;">
        <input #inpUsernameRef [(ngModel)]="inpUsername" placeholder="username" maxlength="15" class="main-input" (keyup.enter)="onSubmitUsername()">
        {{ inpUsernameRef.focus() }}
      </div>
  
      <div class="spacer"></div>
  
      <div>
        <img (click)="onSubmitUsername()" class="banner-btn" src="assets/img/default/banner.ico"/>
      </div>
    </ng-container>

    <ng-container *ngIf="phase == LoginPhase.SUBMIT_PASSWORD">
      <div style="text-align: center; font-size: 24px;">
        {{username}}, enter your password:
      </div>
  
      <div class="spacer"></div>
  
      <div style="display: flex; align-items: center; justify-content: center;">
        <input #inpPasswordRef [(ngModel)]="inpPassword" placeholder="password" maxlength="255" class="main-input" (keyup.enter)="onSubmitPassword()">
        {{ inpPasswordRef.focus() }}
      </div>
    </ng-container>

    <ng-container *ngIf="phase == LoginPhase.CONFIRM_REGISTER">
      <div class="gui-button-row">
        <button class="gui-button gui-button-main gui-button-big" [disabled]="isGuestName()">
          Register
        </button>
  
        <button class="gui-button gui-button-big">
          Stay anonymous
        </button>
      </div>
    </ng-container>
  
    <div class="spacer"></div>
  
    <div class="version">alpha v{{clientVersion}} (user data may be lost)</div>
  </div>
</div>
