
<div class="full-size">
  <app-background></app-background>
  
  <div class="menu">
    <div class="menu-title-container">
      <div class="menu-title">Cool Trees</div>
    </div>
  
    <button class="menu-item" (click)="onPlayClick()">Play</button>

    <div style="height: 10px"></div>

    <button class="menu-item" (click)="onControlsClick()">Settings</button>
    
    <div style="height: 10px"></div>

    <button class="menu-item menu-item-small" (click)="onLeaderboardClick()">Leaderboard</button>

    <button class="menu-item menu-item-small" (click)="onReplayClick()">Replay</button>

    <button class="menu-item menu-item-small" (click)="onThanksClick()">Sources</button>

    <button class="menu-item menu-item-small" (click)="onLogoutClick()">Log out</button>
  </div>
</div>