
<div class="full-size">
  <app-background></app-background>
  
  <div class="menu">
    <div class="menu-title-container">
      <div class="menu-title">Cool Trees</div>
    </div>
  
    <div class="menu-item" (click)="onPlayClick()">Play</div>

    <div class="menu-item" (click)="onReplayClick()">Replay</div>
  
    <div class="menu-item" (click)="onControlsClick()">Settings</div>
  
    <div class="menu-item menu-item-small" (click)="onThanksClick()">Attributions</div>

    <div class="menu-item menu-item-small" (click)="onLogoutClick()">Log out</div>
  </div>
</div>