
@import 'palette';
@import 'font';

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  gap: 10px;
  width: 600px;
  
  .menu-title-container {
    padding: 0 100px;

    .menu-title {
      text-align: center;
      padding-bottom: 20px;
      border-bottom: solid 2px #fff8;
      font-size: $font-size-title;
    }
  }

  .menu-item {
    transition: 400ms;
    font-size: 36px;
    padding: 20px 70px;
    background: $button-bg;
    backdrop-filter: blur(8px);
    transform-origin: center left;
    
    cursor: pointer;

    &:hover {
      transition: 50ms;
      background: $button-hover;
      transform: scale(1.15);
    }
  }

  .menu-item-small {
    font-size: 18px;
    width: 150px;
    padding: 5px 70px;
    background: $button-bg-small;
  }
}
