/* You can add global styles to this file, and also import other style files */

@import 'styles/palette';
@import 'styles/font';

* {
  user-select: none;
}

body {
  margin: 0;
  color: #fffd;
  background: #000;
}

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-size {
  display: block;
  height: 100%;
}

.v-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h-flex {
  height: 100%;
  display: flex;
}

.screen-title-container {
  margin-bottom: 30px;

  .screen-title-underline {
    font-size: $font-size-title;
    border-bottom: solid 1px #fff8;
    padding: 10px 0 0 40px;

    .screen-title-row {
      display: flex;
      height: 70px;
      align-items: center;
    }
  }
}

.screen-body-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  overflow: auto;
}

.gui-button-row {
  display: flex;
  margin-bottom: 30px;
}

.gui-button {
  box-sizing: border-box;
  transition: 200ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: $font-size-default;
  padding: 6px 10px;
  background: none;
  border: none;
  color: #fffd;
  border: solid #0000 2px;
  border-radius: 2px;

  &.gui-button-toggle {
    font-size: $font-size-small;
    background: #fff1;
  }

  &.gui-button-small {
    font-size: $font-size-small;
  }

  &:hover {
    transition: 50ms;
    color: #fff;
    background: #fff6;
    border: solid #fff2 2px;
    transform: scale(1.15);
  }

  &.gui-button-main {
    color: #ff0d;
    
    &:hover {
      color: #ff0;
    }
  }

  &.gui-button-danger {
    color: #f66d;

    &:hover {
      color: #f00;
    }
  }
}

.gui-button[disabled] {
  color: #aaad;
  cursor: unset;

  &:hover {
    color: #aaad;
    background: none;
    border: solid #0000 2px;
    border-radius: 2px;
  }
}

.mat-icon {
  line-height: 23px;
}

.room-section {
  background: #000d;
  padding: 30px;
  box-sizing: border-box;
}

.section {
  padding: 20px;
  padding-left: 40px;
  background: #0006;
  backdrop-filter: blur(8px);
  border: solid #fff2 1px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .section-title {
    font-size: $font-size-default;
    padding: 10px 0;
  }

  .section-body {
    flex-grow: 1;
    overflow: auto;
  }
}


.mat-icon.icon-button {
  cursor: pointer;
  font-size: 28px;
  width: 28px;
  height: 28px;

  &:hover {
    color: white;
    transform: scale(1.5);
  }
}

.mat-tab-label-content {
  color: white;
}

// .cdk-overlay-connected-position-bounding-box {
//   position: absolute;
//   z-index: 1000;
//   display: flex;
//   flex-direction: column;
//   min-width: 1px;
//   min-height: 1px;
// }
