/* You can add global styles to this file, and also import other style files */

@import 'styles/palette';



body {
  margin: 0;
  color: #fffd;
  background: #333;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-size {
  display: block;
  height: 100%;
}

.v-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.screen-title-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  
  .screen-title {
    font-size: $screen-title-size;
    border-bottom: solid 1px #fff8;
    padding: 0 40px;
    padding-bottoM: 20px;
  }
}

.screen-body-container {
  padding-left: 100px;
  padding-right: 30px;
}

.gui-button-row {
  display: flex;
  margin-bottom: 30px;
}

.gui-button {
  box-sizing: border-box;
  transition: 200ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 10px 20px;
  background: none;
  border: none;
  color: #fffd;
  border: solid #0000 2px;
  border-radius: 2px;

  &:hover {
    transition: 50ms;
    color: #fff;
    background: #fff6;
    border: solid #fff2 2px;
  }

  &.gui-button-main {
    color: #ff0d;
    
    &:hover {
      color: #ff0;
    }
  }

  &.gui-button-danger {
    color: #f66d;

    &:hover {
      color: #f00;
    }
  }
}

.gui-button[disabled] {
  color: #aaad;
  cursor: unset;

  &:hover {
    color: #aaad;
    background: none;
    border: solid #0000 2px;
    border-radius: 2px;
  }
}

.mat-icon {
  line-height: 23px;
}

.section {
  padding: 20px;
  padding-left: 60px;
  background: #000b;
  border: solid #fff2 1px;
  border-radius: 3px;
  overflow: auto;

  .section-title {
    font-size: 24px;
    padding: 10px 0;
  }
}
