/* You can add global styles to this file, and also import other style files */

@import 'styles/palette';



body {
  margin: 0;
  color: white;
  background: #333;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-size {
  display: block;
  height: 100%;
}

.screen-title-container {
  padding-left: 30px;
  padding-top: 30px;
  
  .screen-title {
    font-size: $screen-title-size;
    border-bottom: solid 1px #fff8;
    padding: 0 40px;
  }
}
