
@import 'font';

th {
  position: sticky;
  top: 0;
  background: #000;
  font-weight: normal;
}

.slots-container {
  font-size: $font-size-default;

  .spectator {
    opacity: 0.5;
  }

  .tc-text {
    text-align: left;
  }

  .tc-text-pad {
    text-align: left;
    padding-left: 25px;
  }

  .tc-number {
    text-align: right;
  }

  // .slot {
  //   display: flex;
  //   flex-direction: row;
  // }
}

.team-icon {
  border: solid 1px #0006;
  text-align: center;
  font-size: 70%;
  width: 50px;
  cursor: pointer;
}
