
<div class="v-flex">  
  <app-background></app-background>

  <div class="screen-title-container">
    <div class="screen-title">
      <app-menu-button (click)="onBackClick()">arrow_back_ios</app-menu-button>
      Settings
    </div>
  </div>

  <div class="v-flex screen-body-container">
    <div style="padding-left: 140px; color: yellow; height: 40px;">{{hint}}</div>

    <div *ngIf="localSettings" style="display: flex; flex-direction: column; padding: 0 100px; flex-grow: 1;">
      <div (mouseover)="hint = 'Key bindings'">
        <app-control-row *ngFor="let row of rows; let i=index"
          [data]="row"
          [editMode]="i==this.editIndex"
          (click)="onRowClick(i)"
        ></app-control-row>
    
        <ng-container *ngIf="localSettings.control">
          <app-control-row
            [name]="'DAS (auto-repeat delay)'"
            [value]="localSettings.control.das"
            (inputBlur)="onDasUpdated($event)"
          ></app-control-row>
          
          <app-control-row
            [name]="'ARR (auto-repeat rate)'"
            [value]="localSettings.control.arr"
            (inputBlur)="onArrUpdated($event)"
          ></app-control-row>
          
          <app-control-row
            [name]="'Soft drop speed'"
            [value]="localSettings.control.sdr"
            (inputBlur)="onSdrUpdated($event)"
          ></app-control-row>
        </ng-container>
      </div>


      <div style="height: 30px;"></div>


      <app-control-row *ngFor="let settingsField of settingsFields" [name]="settingsField.name"
        (mouseover)="hint = settingsField.description ?? ''"
      >
        <app-field-input
          [field]="settingsField"
          [fieldValue]="getFieldValue(settingsField)"
          (fieldValueChange)="setFieldValue(settingsField, $event)"
        ></app-field-input>
      </app-control-row>


      <div style="height: 30px;"></div>


    </div>
  </div>
</div>
