
<div class="full-size">  
  <app-background></app-background>

  <div class="screen-title-container">
    <div class="screen-title">
      <app-menu-button (click)="onBackClick()">arrow_back_ios</app-menu-button>
      Controls
    </div>
  </div>

  <div style="display: flex; flex-direction: column; padding: 0 100px">
    <app-control-row *ngFor="let row of rows; let i=index"
      [data]="row"
      [editMode]="i==this.editIndex"
      (click)="onRowClick(i)"
    ></app-control-row>

    <ng-container *ngIf="controlSettings">
      <app-control-row
        [name]="'DAS (auto-repeat delay)'"
        [value]="controlSettings.das"
        (inputBlur)="onDasUpdated($event)"
      ></app-control-row>
      
      <app-control-row
        [name]="'ARR (auto-repeat rate)'"
        [value]="controlSettings.arr"
        (inputBlur)="onArrUpdated($event)"
      ></app-control-row>
      
      <app-control-row
        [name]="'Soft drop speed'"
        [value]="controlSettings.sdr"
        (inputBlur)="onSdrUpdated($event)"
      ></app-control-row>
    </ng-container>
  </div>
</div>
