
<div class="full-screen-overlay">
  <app-controls #controls [hidden]="screen!==MainScreen.CONTROLS"></app-controls>
  <app-personalization #personalization [hidden]="screen!==MainScreen.PERSONALIZATION"></app-personalization>
  
  <app-lobby #lobby [hidden]="screen!==MainScreen.LOBBY"
    (enterRoom)="onEnterRoom($event)"
  ></app-lobby>

  <app-prelogin #prelogin [hidden]="screen!==MainScreen.PRELOGIN"></app-prelogin>
  
  <app-login #login [hidden]="screen!==MainScreen.LOGIN"></app-login>

  <app-menu #menu [hidden]="screen!==MainScreen.MENU"></app-menu>

  <app-room #room [hidden]="screen!==MainScreen.ROOM"></app-room>

  <app-replay #replay [hidden]="screen!==MainScreen.REPLAY"></app-replay>

  <app-thanks #thanks [hidden]="screen!==MainScreen.THANKS"></app-thanks>
</div>

<div class="icon-bar">
  <ng-container *ngIf="screen == MainScreen.ROOM || screen == MainScreen.LOBBY">
    <mat-icon *ngIf="screen == MainScreen.ROOM" class="icon-button" (click)="onLeaveRoom()">logout</mat-icon>

    <mat-icon class="icon-button" (click)="openScreen(MainScreen.CONTROLS)">settings</mat-icon>

    <mat-icon class="icon-button" (click)="onDownloadClick()">download</mat-icon>

    <mat-icon *ngIf="screen == MainScreen.ROOM" class="icon-button" (click)="onDebugClick()">bug_report</mat-icon>
  </ng-container>
  
  <mat-icon *ngIf="screen == MainScreen.REPLAY" class="icon-button" (click)="openScreen(MainScreen.MENU)">logout</mat-icon>
</div>

<div
  #pixiOverlay
  class="pixi-overlay"
>
  <app-pixi #pixi></app-pixi>
</div>
