
<div class="icon-bar">
  <mat-icon></mat-icon>
</div>

<div class="full-screen-overlay" [hidden]="!mainService.displayGui">
  <app-lobby #lobby [hidden]="screen!==MainScreen.LOBBY"
    (enterRoom)="onEnterRoom($event)"
  ></app-lobby>
  
  <app-menu #menu [hidden]="screen!==MainScreen.MENU"

  ></app-menu>

  <app-room #room [hidden]="screen!==MainScreen.ROOM"

  ></app-room>

  <app-replay #replay [hidden]="screen!==MainScreen.REPLAY">

  </app-replay>

  <app-controls #controls [hidden]="screen!==MainScreen.CONTROLS">

  </app-controls>

  <app-thanks #controls [hidden]="screen!==MainScreen.THANKS">

  </app-thanks>
</div>

<div
  #pixiOverlay
  [style.left]="pixiPos.x + 'px'"
  [style.top]="pixiPos.y + 'px'"
  class="pixi-overlay"
>
  <app-pixi #pixi [hidden]="!mainService.pixiEnabled"></app-pixi>
</div>
